{% extends 'base.html' %}
    {% block content %}
                <div class="pure-g-r content-ribbon">
                    <div class="pure-u-2-3">
                        <div class="l-box">
                            <h4 class="content-subhead">
                                Entre em contato
                            </h4>
                            <h3>
                                Utilize os dados abaixo para entrar em contato
                            </h3>
                            <p>
                                Email: contato@dgmtisolucoes.com
                            </p>
                            <p>
                                Telefone: (31) 9990-3296
                            </p>
                        </div>
                    </div>
                </div>
    {% endblock %}